
<div class="container">



<% theme.widgets.forEach(function(widget){ %>
	<% if(widget == 'recent_posts') { %>
		<div class="col-xs-12 col-sm-6">
	<% } else { %>
		<div class="col-xs-12 col-sm-3">
	<% } %>
  	    <%- partial('../_widget/' + widget) %>
  	</div>
<% }); %>

</div>
